<h3>Clicker / RxJS Example</h3>
<div class="row">
	<div class="col-md-8">
		<p>This module exists to demonstrate the use of an RxJS observable on events, taking advantage of operators like map. Here I'll simply show the power of a reactive observable, which is like a much more powerful version of a promise.</p>
		<br />
		<h4>Instructions</h4>
		<p>Double click the button below, and see the count of double clicks indicated below.</p>
		<br />
		<button class="click-me btn btn-default">Double Click Me</button>
		<br />
		<clicker-count [counter]="counter"></clicker-count>
	</div>
</div>